@using FreelanceJobBoard.Presentation.Services

<div class="d-flex align-items-center ms-lg-5"
     id="kt_header_user_menu_toggle">
    <div class="btn btn-active-light d-flex align-items-center bg-hover-light py-2 px-2 px-md-3"
         data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
         data-kt-menu-attach="parent"
         data-kt-menu-placement="bottom-end">
        <div class="d-none d-md-flex flex-column align-items-end justify-content-center me-2">
            <span class="text-muted fs-7 fw-semibold lh-1 mb-2">Hello</span>
            <span class="text-dark fs-base fw-bold lh-1">Username</span>
        </div>
        <div class="symbol symbol-30px symbol-md-40px">
            <img src="assets/media/avatars/300-1.jpg"
                 alt="ApplicationUser Image" />
        </div>
    </div>
    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px"
         data-kt-menu="true">
        <div class="menu-item px-3">
            <div class="menu-content d-flex align-items-center px-3">
                <div class="symbol symbol-50px me-5">
                    <img alt="ApplicationUser Image"
                         src="assets/media/avatars/300-1.jpg" />
                </div>
                <div class="d-flex flex-column">
                    <div class="fw-bold d-flex align-items-center fs-5">
                        Username
                        <span class="badge badge-light-success fw-bold fs-8 px-2 py-1 ms-2">Client</span>
                    </div>
                    <a href="#"
                       class="fw-semibold text-muted text-hover-primary fs-7">user@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="separator my-2"></div>
        <div class="menu-item px-5">
            <a asp-controller="Profile" asp-action="Index" class="menu-link px-5">My Profile</a>
        </div>
        <div class="menu-item px-5">
            <a asp-controller="Home" asp-action="Index" class="menu-link px-5">Dashboard</a>
        </div>
        <div class="menu-item px-5">
            <form asp-controller="Auth" asp-action="Logout" method="post" class="d-inline">
                @Html.AntiForgeryToken()
                <button type="submit" class="menu-link px-5 btn btn-link text-start text-decoration-none p-0 border-0 bg-transparent" style="width: 100%; color: inherit;">
                    Sign Out
                </button>
            </form>
        </div>
    </div>
</div>
