<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/home-plugins.css">
    <link href="~/css/home.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" id="jssDefault" href="~/css/colors/green-style.css">
	<link href="~/css/top-categories.css" rel="stylesheet" />
	<link href="~/css/recent-jobs.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    @RenderSection("Styles", required: false)

</head>
<body>

    <div class="Loader"></div>
    <div class="wrapper">
        <partial name="~/Views/Shared/Header/_HomeHeader.cshtml"/>
        <div class="clearfix"></div>

        @RenderBody()

    </div>
    <script src="~/js/loader.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
