<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @* Google Fonts *@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />

    @* Global Styles *@
    <link href="~/css/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/plugins.bundle.css" rel="stylesheet" />
    <link href="~/css/style.bundle.css" rel="stylesheet" />
@*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FreelanceJobBoard.Presentation.styles.css" asp-append-version="true" /> *@
</head>
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed aside-enabled">

    <main class="d-flex flex-column flex-root">
        <section class="page d-flex flex-column flex-column-fluid">
            <partial name="Header/_Header" />
            @RenderBody()
        </section>
    </main>
    <partial name="_Scrolltop" />
    <script>
        var hostUrl = "assets/";
    </script>
    <!-- Scripts -->
    <script src="~/js/plugins.bundle.js"></script>
    <script src="~/js/scripts.bundle.js"></script>
    <script src="~/js/list.js"></script>
@*     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
