@page
@{
}
<!--begin::Footer-->
<div class="footer pt-10 pb-5 d-flex flex-center" id="kt_footer">
    <div class="text-dark order-2 order-md-1">
        <span class="text-muted fw-semibold me-1">2025&copy;</span>
        <a href="https://www.ejada.com/"
           target="_blank"
           class="text-gray-800 text-hover-primary">EJADA .NET Internship</a>
    </div>
</div>
<!--end::Footer-->