@model CategoryViewModel

@if (Model != null)
{
    <tr>
        <td class="text-center">@(Model.Name ?? "N/A")</td>
        <td>
            @{
                var description = Model.Description ?? "";
                var displayDescription = description.Length > 30 ? $"{description.Substring(0, 30)}..." : description;
            }
            @displayDescription
        </td>
        <td class="js-status">
            <span class="badge badge-@(!Model.IsActive ? "warning" : "success")">
                @(!Model.IsActive ? "Inactive" : "Active")
            </span>
        </td>
        <td class="text-center">
            <div class="dropdown">
                <button class="btn btn-sm btn-light shadow-sm rounded-circle" type="button" id="dropdownMenuButton_@Model.Id"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical fs-5 text-dark"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end shadow-sm animate__animated animate__fadeIn"
                    aria-labelledby="dropdownMenuButton_@Model.Id">
                    <li>
                        <a class="dropdown-item d-flex align-items-center js-render-modal"
                           href="javascript:;"
                           data-url="/Categories/Update/@Model.Id"
                           data-title="Update Category"
                           data-update="true">
                            <i class="ki-duotone ki-notepad-edit fs-5 text-success me-2">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                            <span>Update</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center js-change-status text-danger"
                           data-status="@Model.IsActive.ToString().ToLower()"
                           data-url="/Categories/ChangeStatus/@Model.Id"
                           href="javascript:;">
                            <i class="bi bi-@(Model.IsActive ? "x-circle" : "check-circle") fs-5 me-2"></i>
                            <span>@(Model.IsActive ? "Deactivate" : "Activate")</span>
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
}
else
{
    <tr>
        <td colspan="4" class="text-center text-muted">
            <i class="bi bi-exclamation-triangle"></i>
            Invalid category data
        </td>
    </tr>
}