<section class="hero-section">
    <div class="content-container">
        <p class="label">#1 Online Marketplace</p>
        <h1 class="main-title">Find the talents for any job.</h1>
        <p class="subtitle">
            Unlock your potential with quality job & earn from world leading brands & co.
        </p>
        <a href="#" class="post-job-btn">Post a Job</a>
        
    </div>
    <div class="illustration-container">
        <img src="~/images/flat-employment-agency-search-new-employees-hire.png" alt="Person working on a laptop">
    </div>
    
</section>

<!-- Brands Carousel -->
<div class="trusted-by-section" style="max-width: 1280px; margin: 0 auto; text-align: center; margin-bottom:100px;">
    <div class="brand-carousel section-padding owl-carousel">

        <div class="brand-img">
            <img src="https://placehold.co/100x40/fff/000?text=Microsoft" class="img-responsive" alt="Microsoft Logo" />
        </div>
        <div class="brand-img">
            <img src="https://placehold.co/100x40/fff/000?text=Google" class="img-responsive" alt="Google Logo" />
        </div>
        <div class="brand-img">
            <img src="https://placehold.co/100x40/fff/000?text=Mothercare" class="img-responsive" alt="Mothercare Logo" />
        </div>
        <div class="brand-img">
            <img src="https://placehold.co/100x40/fff/000?text=Paypal" class="img-responsive" alt="Paypal Logo" />
        </div>
        <div class="brand-img">
            <img src="https://placehold.co/100x40/fff/000?text=Serv" class="img-responsive" alt="Serv Logo" />
        </div>
        <div class="brand-img">
            <img src="https://placehold.co/100x40/fff/000?text=Xerox" class="img-responsive" alt="Xerox Logo" />
        </div>
        <div class="brand-img">
            <img src="https://placehold.co/100x40/fff/000?text=Yahoo" class="img-responsive" alt="Yahoo Logo" />
        </div>
        <div class="brand-img">
            <img src="https://placehold.co/100x40/fff/000?text=Adobe" class="img-responsive" alt="Adobe Logo" />
        </div>
    </div>
</div>