<div class="banner" style="background-image:url(/images/banner-9.jpg);">
    <div class="container">
        <div class="banner-caption">
            <div class="col-md-12 col-sm-12 banner-text">
                <h1>7,000+ Browse Jobs</h1>

                <form class="form-horizontal">
                    <div class="col-md-4 no-padd">
                        <div class="input-group">
                            <input type="text" class="form-control right-bor" id="joblist"
                                   placeholder="Skills, Designations, Companies">
                        </div>
                    </div>
                    <div class="col-md-3 no-padd">
                        <div class="input-group">
                            <input type="text" class="form-control right-bor" id="location"
                                   placeholder="Search By Location..">
                        </div>
                    </div>
                    <div class="col-md-3 no-padd">
                        <div class="input-group">
                            <select id="choose-city" class="form-control">
                                <option>Choose City</option>
                                <option>Chandigarh</option>
                                <option>London</option>
                                <option>England</option>
                                <option>Pratapcity</option>
                                <option>Ukrain</option>
                                <option>Wilangana</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 no-padd">
                        <div class="input-group">
                            <button type="submit" class="btn btn-primary">Search Job</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>